.main-box{
    padding: 20px;
}

.buttons-container{
    margin: 30px;
}

.main-image-box{
    /* height: 30dyh; */
}

.meta-data-container{
    display: flex;
    justify-content: space-between;
}

.meta-data-container div{
    margin: 10px;
}